

body {
  margin: 0;
	width: 100%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	padding-top: 250px;
}

header
{
	width: 100%;
	border: 2px solid black;
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
}
.logo-codebreakers{
	display: block;
	width: 100%;
}
.grupo
{
	border: 2px solid black;
	margin: 5px;
}
.foto-grupo img
{
  width: 320px;
}

.texto-grupo p
{
	text-align: justify;
	padding: 20px;
	padding-left: 5px;
	padding-top: 120px;
	margin-top: 0px;
}

.miembras
{
	background: grey;
	border: 2px solid black;
	margin: 5px;
}

.bloque img
{


}

.bloque p
{


}
/*cris */
.iconoampliado{
	display: inline-block;
	width:35px;
	height:35px;
	border:10px;
  overflow:hidden;
}
.iconoSocial{
	margin:auto 10px;
}
.listaSocial{
	list-style: none;
}
.flotarIzq{
	float:left;
}
.iconoampliado:hover{
webkit-transform:scale(1.3);transform:scale(1.3);
}

footer{
	background: white;
	border: 2px solid black;
	position: relative;
	bottom: 0;
	display: block;
}
.fotologoadalab{
	height: 80px;
	width: 206px;
}
.redes li{
	list-style: none;
	display: inline-block;
	}
.fotologotwitter{
	height: 32px;
	width: 32px;
	overflow: hidden;
}
.fotologotwitter:hover {
	webkit-transform:scale(1.3);transform:scale(1.3);
}
.fotologolinkedin{
	height: 32px;
	width: 32px;
	overflow: hidden;
}
.fotologolinkedin:hover {
	webkit-transform:scale(1.3);transform:scale(1.3);
}
.fotologofacebook{
	height: 32px;
	width: 32px;
	overflow: hidden;
}
.fotologofacebook:hover {
	webkit-transform:scale(1.3);transform:scale(1.3);
}
.redes{
	position: absolute;
	right: 30px;
	top: 0px;
	display: inline;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
